doctype html
html
    head
        title= title
        include jquery.pug
        include bootstrap.pug
        link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery-ui.theme.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/stylesheets/bootstrap-markdown.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/socket.io/socket.io.js")
    body
        div#mainbody.clearfix
            header.col-xs-9
                include head.pug
            div.workspace.col-xs-9.col-sm-7.col-sm-offset-1
                block workspace
            footer.col-xs-9
                include foot.pug
        div#control-panel.col-xs-3
            block control-panel

        include scripts.pug
