script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
script(src='/javascripts/jquery-ui.min.js')
script(src='/javascripts/jquery.ui.touch-punch.min.js')
script(src='/javascripts/jquery-ui-timepicker-addon.js')
script(src='/javascripts/util.js')
script(src='/javascripts/text-data.js')
script(src='/javascripts/text-processing.js')
script(src='/javascripts/text-interface.js')
script(src='/javascripts/text-highlights.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js')
script(src='/javascripts/local.js')
